<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Pizza Ordering System</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <h1>Welcome to the Pizza Ordering System</h1>
    <p>Select an option below:</p>
    <a href="/order"><button>Order Pizza</button></a>
    <a href="/admin"><button>Admin Page</button></a>
</body>

</html>