<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Order Confirmation</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/orderConfirmation.css">
</head>

<body>
    <div>
        <h1>Your Pizza Order</h1>
        <p>Size: <%= order.size %>
        </p>
        <p>Toppings: <%= order.toppings %>
        </p>
        <p>Crust: <%= order.crust %>
        </p>
        <h2>Thank you for your order!</h2>
    </div>
</body>

</html>