.order-item {
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    padding: 10px;
    margin: 0 auto 10px;
    /* Adjusted margin */
    background: white;
    border-radius: 4px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.delete-button {
    background-color: #ff6347;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #ff2c10;
}